@charset "utf-8";

*{
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	
}

a{
	text-decoration: none;
}

#conteudo{
	padding: 15px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#main-menu{
	background: #0077b6;
}

#main-menu ul{
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 15px;
	background: #0077b6;
}

#main-menu ul li{
	margin-right: 15px;
}

#main-menu ul li:last-child{
	margin-right: 0px;
}

#main-menu ul li a {
	background: #fff;
}
#main-menu ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-menu ul li a span{
	display:block;
}

#main-menu ul li a span.ui-icon{
	width: 25px;
	height: 25px;
	font-size: 25px;
}

div#conteudo{
	min-height: 100vh;
}

footer{
	margin: 0 auto;
	padding: 10px;
	background: #0077b6;
	color: #fff;
	text-align: center;
}

footer a{
	color: #fff;
}
footer a:hover{
	text-decoration: underline;
}