@charset "utf-8";

*{
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	
}

a{
	text-decoration: none;
}

input[type='text']{
	padding: 5px 10px;
	box-shadow: none;
}

input[type='text']:focus{
	box-shadow: #0077b6 0px 0px 2px;
	border-color: #0077b6;
}

.form-item{
	margin-bottom: 20px !important;
}

.form-item label {
	margin-bottom: 0px !important;
}

.ui-datepicker-trigger{
	background: #fff !important;
}

.btn-primary-color, .btn-secundary-color{
	border: none;
}


.btn-primary-color span.ui-button-text{
	margin: 0;
	padding: 10px 15px;
	background: #0077b6;
	color: #fff;
	text-shadow: none;
}

.btn-secundary-color span.ui-button-text{
	margin: 0;
	padding: 10px 15px;
	background: #fb8500;
	color: #fff;
	text-shadow: none;
}

.btn-cancel-color{
	border-color: #d62828;
	border-width: 1px;
}

.btn-cancel-color span.ui-button-text{
	background: #fff;
	margin: 0;
	padding: 10px 15px;
	color: black;
	text-shadow: none;
}
#conteudo{
	padding: 15px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100vh;
}

#main-menu{
	background: #0077b6;
}
#main-menu div{
	background: #0077b6;
}

#main-menu ul{
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 15px;
	background: #0077b6;
}

#main-menu ul li{
	margin-right: 15px;
}

#main-menu ul li:last-child{
	margin-right: 0px;
}

#main-menu ul li a {
	background: #fff;
}
#main-menu ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-menu ul li a span{
	display:block;
}

#main-menu ul li a span.ui-icon{
	width: 25px;
	height: 25px;
	font-size: 25px;
}

footer{
	margin: 0 auto;
	padding: 10px;
	background: #0077b6;
	color: #fff;
	text-align: center;
}

footer a{
	color: #fff;
}
footer a:hover{
	text-decoration: underline;
}